* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #551a8b;
}

.content__input {
  border: none;
  background: #ffffff;
  max-height: 45px;
  outline: none;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

.content__input::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

svg {
  cursor: pointer;
}

.raw__input {
  border: none;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  border-radius: 7px;
  padding: 0.5rem 1.1rem;
  transition: all 0.3s ease-in-out;
}

.raw__input:focus {
  outline: none;
  border: 1px solid #0c4370;
}
